[2019-12-13 12:07] r-oung opened #2 "Can't load mp3"
@philippReist I was able to load [this](https://drive.google.com/open?id=0B2JKyu6icyqTME1kVUNIa0xob0U) mp3, but I can't load [this](https://drive.google.com/file/d/1ZzAt59rgC3IUYeoY-y_kEmGEfWKAirP8/view?usp=sharing) mp3.

I tried this on OSX and Debian, and both resulted in the same outcome.

[2019-12-20 16:31] philippReist opened #3 "Clicking on Primitive of other type does not deselect other type selection when control or shift are pressed during selection"

[2019-12-20 16:32] philippReist opened #4 "when multiple primitives are selected that span more than visible area of timerbar, autoscroll behaves badly, as it is triggered by selection endpoints."

[2019-12-20 18:19] philippReist opened #5 "Make time indicator jump to click position on timer bar"

[2019-12-20 18:20] philippReist opened #6 "Swap load-save-clear buttons with artist title fields"

[2019-12-20 18:23] philippReist opened #7 "Write out names of primitives on blocks and elide if not enough space"

[2019-12-20 18:23] philippReist opened #8 "Primitives in settings blocks sometimes misplaced. Investigate."

[2019-12-20 18:24] philippReist opened #9 "Suggest as filename user entry into artist song fields, i.e. suggest artist-songname.mp3 when saving"

[2019-12-21 13:15] philippReist opened #12 "Add version/build to info text in GUI (gui/components/AboutText.qml); replace Ctrl with Cmd for Mac."

[2019-12-21 23:50] #3 closed, assigned to nobody

[2019-12-21 23:57] #6 closed, assigned to nobody

[2019-12-22 00:38] #7 closed, assigned to nobody

[2019-12-22 03:42] #9 closed, assigned to nobody

[2019-12-22 13:41] #5 closed, assigned to nobody

[2019-12-22 13:42] philippReist opened #15 "Win: Time delay before mouse clicks accepted after space key press to play/pause"
On Win10: When using space to start/stop music playback, mouse clicks on the UI are ignored for a few hundred MS after last space press.

[2019-12-23 03:06] philippReist opened #16 "Beatdetection test: ensure that file successfully loaded"

[2019-12-23 08:48] r-oung opened #17 ""dancebotsEditor" appears as title in the macOS menu bar"
![IMG-6964](https://user-images.githubusercontent.com/44389573/71346901-69ed8d80-25ac-11ea-9144-b202c05a29fa.jpg)

Should be "Dancebots Editor".

[2019-12-23 08:50] r-oung opened #18 "Image name after mounting to macOS"
![IMG-6963](https://user-images.githubusercontent.com/44389573/71346955-8be71000-25ac-11ea-98ab-6e0995edd588.jpg)

Should be "Dancebots Editor"

[2019-12-23 08:51] r-oung opened #19 "Increasing Moves/Lights Box from the left-hand side"
We can enlarge the Moves/Lights box when dragging towards the right-hand side, but we can't when dragging the box towards the left-hand side. Unclear whether or not this was by design or a bug.

[2019-12-23 08:52] r-oung opened #20 "Window Scaling"
Scaling the window vertically leaves an empty black space at the bottom.

[2019-12-23 08:54] r-oung opened #21 "Simplify Frequency / Amplitude terminology?"
* Help Menu: Re-label Control -> Command (⌘) for Mac
* My girlfriend and work colleague thinks the labels aren't very intuitive, e.g. Amplitude and Frequency aren't obvious unless I go through a detailed explanation. Consider using different terminology and minimize techno-babble.
	* Represent Frequency as BPS (beats per second)?
	* Represent Amplitude as speed?
* Spin, Drive Straight, Custom move

[2019-12-23 08:58] r-oung opened #22 "Frozen UI"
I'm not able to replicate this issue easily.

The UI froze after about 15 minutes of using it.
- Playing music
- Added various Move / Light boxes to the timeline
- At the time, I was looking at the About menu
- The only way to close the program was a to Force Kill

Consider running it through valgrind?

[2019-12-23 08:58] r-oung opened #23 "Add Build / Version Number to About Menu"
Including a build/version number to the About Menu (or anywhere appropriate) would assist with debugging future issues.

[2019-12-23 09:00] r-oung opened #24 "Add Moves / Lights parameter into Timeline Boxes"
It would be nice to be able to see the parameters in the timeline boxes directly.

[2019-12-23 09:02] r-oung opened #25 "Edit Block Parameters After Adding to Timeline"
It would be nice to be able to change the parameters of a block after it's been placed on the timeline.

[2019-12-23 09:03] r-oung opened #26 "Remove Start Directions from Twist / Back and Forth?"
As a user, I feel the following are unnecessary:
* Twist Move: "CW" and "CCW"
* Back and Forth Move: "Forward" and "Backward"
* Volume bar
	* Windows and Macs already have software volume sliders, Macs have an additional hardware volume button

[2019-12-23 09:04] r-oung opened #27 "Move Blocks with Keyboard"
Include the ability to move blocks around the timeline using the keyboard.

[2019-12-23 09:05] r-oung opened #28 "Icons instead of Text Labels"
Use icons instead of text labels for the different Moves and Lights

[2019-12-23 09:06] r-oung opened #29 "Ability to copy Move and Light as a set"
It's currently possible to copy/paste a set of Moves and a set of Lights. But it isn't possible to copy/paste a combination of Moves and Lights.

[2019-12-23 09:08] r-oung opened #30 "Add webpage to the About Menu"
I think the About Menu should include the project's main webpage. Maybe this can be integrated all into GitHub Pages?

[2019-12-23 09:09] r-oung opened #31 "Auto-Save to MP3 in regular intervals. Optional: Delete autosave at program end and ask for loading at program start if file found."
This would be a nice feature in case the GUI or the computer freezes for whatever reason. If I spent 30 minutes making a choreography (which I have) and lost it all, I'd be pretty annoyed.

[2019-12-23 09:10] r-oung opened #32 "Add tick marks to setting sliders (freq/speed), and show frequency as fraction"
"Amplitude" increments linearly and continuously. However, Frequency increments non-linearly, for both Moves and Lights. Is there a particular reason for this?

[2019-12-23 09:11] r-oung opened #33 "Move/Light Timeline Zoom"
Add the ability to zoom in/out of the Move/Light timeline.

[2019-12-23 13:43] #23 closed, assigned to nobody

[2019-12-23 15:19] #19 closed, assigned to nobody

[2019-12-23 18:43] philippReist opened #34 "Clarify that primitives in settings boxes can be dragged"
Feedback from Didier, a friend who is a professional UI/X designer: Make it clearer that the primitives in the settings boxes can be dragged, and remove the tooltip in favor of a numerical display next to the sliders.

@ray-hrst, @robinhanhart  what do you think?

[2019-12-23 21:19] #16 closed, assigned to philippReist

[2019-12-23 21:19] #20 closed, assigned to philippReist

[2019-12-23 21:20] #30 closed, assigned to philippReist

[2019-12-24 15:01] philippReist opened #35 "Design Check"
Feedback by Phyllis: Bei Custom Moves finde ich das grün/gelb beisst sich mit dem anderen gelb

[2019-12-28 15:05] #32 closed, assigned to philippReist

[2019-12-28 20:48] #34 closed, assigned to philippReist

[2019-12-29 03:06] #4 closed, assigned to philippReist

[2020-01-04 12:52] r-oung opened #36 "Build Instructions for Windows"
I think the build instructions for Windows aren't very clear.

When I try to run cmake from the build directory, I get the error described here: https://stackoverflow.com/questions/4101456/running-cmake-on-windows

After installing MinGW and trying to build (using mingw-make), the build fails at around 68% due to a missing library.

The README says to use Visual Studio, but where is the project fi

[2020-01-05 20:23] #36 closed, assigned to philippReist

[2020-01-05 20:30] philippReist opened #37 "Refactor C++ Code to Match Google Style?"
If we use cpplint, and clang autoformat in Google style, it would make sense to adhere to their [naming conventions](https://google.github.io/styleguide/cppguide.html#Naming) as well where it makes sense (e.g. variable, constant, function, and file names). Of course, this may be a bit of a pain in the ass to do. What do you think @ray-hrst?

[2020-01-06 20:02] #26 closed, assigned to philippReist, tiemes

[2020-01-17 07:29] #12 closed, assigned to r-oung

[2020-01-18 15:08] #37 closed, assigned to philippReist

[2020-01-22 12:38] #18 closed, assigned to r-oung

[2020-01-22 12:38] #17 closed, assigned to r-oung

[2020-02-01 16:50] #21 closed, assigned to tiemes

[2020-02-02 14:22] philippReist opened #45 "Pull request build checks seem to not run"
I made a sample pull request with broken code, and its build tests seem not to be running (I setup the build checks to be a requirement before merging is allowed.

https://github.com/philippReist/dancebots_gui/pull/43

[2020-02-02 14:25] philippReist opened #46 "MacOS Deployment script expects executable name different from build name"
https://github.com/philippReist/dancebots_gui/blob/develop/gui/mac_os_rc/deploy.sh

Did not work for me without mv-ing the executable from `dancebotsEditor` to `Dancebots Editor`.

Not sure if you will change the build for deploy or want to edit the script to do the mv.

[2020-02-03 08:47] robinhanhart commented on #35
Possible new color scheme. Make colors more simple. Use yellow to orange tones for "moves" and blue to purple for "lights". Also changed "lights" color to muted blue and dimmed both the timer bars for better visibility.
<img width="1435" alt="color-scheme" src="https://user-images.githubusercontent.com/12276355/73638171-35b8c280-466a-11ea-9cf7-101493d271ee.png">

[2020-02-03 21:10] philippReist commented on #35
I like it! Especially that it makes it clearer what is moves and what is lights, and the more muted colors of the timer bars.

I updated all the points above except for tabifying the settings. I can do this until next week and then you can have a final design change? Or you could already implement the changes - just pull develop before changing things on top.

[2020-02-04 11:56] ray-hrst commented on #46
This should be resolved with #48. @philippReist please close this issue if/when that PR is merged to devel.

[2020-02-04 12:35] ray-hrst commented on #45
@philippReist I set up the build scripts to only run on the master and develop branches. They don't run automatically on any other branch. You can add a specific branch to the build script, see [here](https://github.com/philippReist/dancebots_gui/compare/issue-45#diff-10dc598b293d8d3a66d4d3137386cb44R8). You can see this branch failing appropriately [here](https://github.com/philippReist/dancebots

[2020-02-05 08:06] #46 closed

[2020-02-05 08:06] philippReist commented on #46
Thanks, Ray!

[2020-02-05 21:55] philippReist commented on #45
Ah I see - running them for just the pull/merge request branches is not possible? I agree doing it for all is not a good option.

[2020-02-06 00:24] ray-hrst commented on #45
I don't know what I was thinking lol. Of course that's possible.
Done!

[2020-02-06 00:24] #45 closed

[2020-02-16 10:58] philippReist commented on #35
Hi Robin,

Finally, I got around to tabify the settings, see below. You can pull the branch tabifySettings to view the changes and implement the new color scheme: https://github.com/philippReist/dancebots_gui/tree/tabifySettings

Detailed changelist:
- Moved settings background rectangle up to hug radio buttons
- Radio buttons switch border to settings background rectangle color to look like tabs

[2020-02-18 16:01] robinhanhart commented on #35
Hi

Ich changed some design stuff:

- More spacing under tabs
- Updated color scheme
- Changed styling of vertical titles to match new color scheme and more muted.
- Small change on primitive handles.

![Dancebots-Tabs-Design](https://user-images.githubusercontent.com/12276355/74753367-50955480-5270-11ea-8fca-a787aa8196d1.png)

[2020-02-19 08:20] robinhanhart commented on #35
- Handle little rectangle enable opacity
- Fix margin under tabs
- LED Box: Setting do not scale correctly

[2020-02-19 08:21] robinhanhart commented on #8
If you click primitive and then resize the primitive jumps to left edge. 😢

[2020-02-19 08:23] robinhanhart opened #52 "Before loading mp3 timerbar disappears when clicked"

[2020-02-23 15:24] #35 closed

[2020-02-23 15:33] #52 closed

[2020-02-23 15:35] #8 closed

[2020-02-25 11:41] ray-hrst opened #55 "install-qt-action issue"
Action workflow for Ubuntu and Windows has a dependency [issue](https://github.com/jurplel/install-qt-action/issues/27#issuecomment-586658469). Currently a workaround is in place, but I should change it once the issue is resolved.

[2020-02-26 02:29] ray-hrst opened #58 "Asset File Name"
In the v1 release, the Windows binary is named `DanceBotsEditor-v1.0.0.zip`. It might not be obvious to some that this is Windows binary considering the others are called:
- dancebots-editor-darwin-v1.0.0.dmg
- dancebots-editor-ubuntu-v1.0.0.tar.gz

You might want to re-label it, for example:
- dancebots-editor-win32-v1.0.0.zip or
- dancebots-editor-win64-v1.0.0.zip

Also, maybe the repository sho

[2020-03-01 14:35] philippReist commented on #58
Good suggestions! I updated the repo name and will update the win release as well.

[2020-03-01 14:37] #58 closed

[2020-03-01 14:43] philippReist opened #59 "MacOS Version Compatibility"
Just to keep tabs on this. Could not run the release on my Mac book either. Would be good to not be too restrictive about the version of MacOS that the GUI can run on.

[2020-03-01 14:57] philippReist commented on #59
I created a manual release on my Mojave machine for now. But it might be that older versions will not work with this either.

[2020-03-01 15:18] philippReist opened #60 "Linux release does not have libraries"
Tested the linux release and hot missing shared library error. Tar only contains executable.

[2020-03-02 00:51] ray-hrst commented on #59
I'll take a look. The runners on github are using Xcode 11.3 by default (https://github.com/actions/virtual-environments/blob/master/images/macos/macos-10.15-Readme.md). According [this](https://doc.qt.io/qt-5/macos.html) it should be possible to target macOS 10.13 and above.

[2020-03-19 01:21] ray-hrst commented on #55
The fix for this is to use Python 3.7.
https://github.com/miurahr/aqtinstall/issues/91#issuecomment-589602574

[2020-03-19 01:48] ray-hrst commented on #60
Note to self: https://github.com/probonopd/linuxdeployqt

[2020-03-28 10:09] #55 closed

[2020-03-28 10:09] #59 closed

[2020-11-04 15:24] tiemes opened #62 "mp3 player with swapped r/l audio channels"
our new (extremely expensive aliexpress ;-)) mp3 players have R/L audio swapped. To use them, we'd need to be able to swap channels in the software as well. maybe, we could include a 'options' dialog next to 'clear' or hide it behind the '?' dialog.
I hope, swapping channels wouldnt be a huge deal?

[2020-11-05 08:11] philippReist commented on #62
Hmm, this happened to us as well back in the day and I ended up soldering to fix the mp3 output.

I'll have a look this weekend. Should not be hard to add, I agree.

[2020-11-08 16:15] philippReist commented on #62
Ok, I think this should work: https://github.com/philippReist/DanceBotsEditor/tree/feature-swapAudioChannels

Can you test (on Mac in particular as well?).

Note that on a fresh install, I used 5.12.9 LTS and that worked.

[2020-11-09 09:12] tiemes commented on #62
Tanks a lot! We'll test.
I only have win and linux but I could probably use a PHZH Mac.
@robinhanhart do you have Mac or could verify it on your system?

[2020-11-09 14:39] tiemes commented on #62
<img width="666" alt="db1" src="https://user-images.githubusercontent.com/12649825/98555077-c54a6c00-22a1-11eb-8b9c-eca120b361ec.PNG">

@philippReist I'm not able to build. Any thoughts on that?

[2020-11-10 00:36] r-oung commented on #62
FYI. I tested this on Ubuntu and it compiles without error, using:
- cmake 3.16.2
- Qt 5.12.6

@tiemes Can you share the `CMakeOutput.log` and `CMakeError.log` (see the bottom of your screenshot) with us?

@philippReist If you do a PR of this feature branch to the `develop` branch, it should initiate the build-test.

[2020-11-10 06:47] philippReist commented on #62
@r-oung: PR and build test is started.

@tiemes: I installed Qt 5.12.9 MSVC 2017 64 bit - so the command for me was `cmake -DCMAKE_PREFIX_PATH=C:\Qt\5.12.9\msvc2017_64\ -DCMAKE_BUILD_TYPE=Release -G "Visual Studio 15 2017 Win64" ..`

You can also check what generators are available on your system with cmake -G. Also, my cmake --version output is 3.16.2.

[2020-11-10 09:40] tiemes commented on #62
@r-oung here are the files. I installed MSVC2017 first but had (the same issue) so I installed 2015 Version but still the same problem.
[CMakeError.log](https://github.com/philippReist/DanceBotsEditor/files/5516268/CMakeError.log)
[CMakeOutput.log](https://github.com/philippReist/DanceBotsEditor/files/5516269/CMakeOutput.log)

[2020-11-10 09:53] philippReist commented on #62
@tiemes Try working in powershell instead of the mingw shell. Just in case the env. that mingw sets up interferes with the VC cmake setup.

[2020-11-10 09:56] tiemes commented on #62
-- Generating done
-- Build files have been written to: C:/DanceBotsEditor/build
thanks @philippReist & @r-oung

[2020-11-10 09:58] philippReist commented on #62
Nice!

[2020-11-11 08:06] tiemes commented on #62
@philippReist swapping with config.ini worked with my win build. I don't have access to a mac at the time.

[2020-12-11 14:41] tiemes opened #65 "add mp3 sample library"
just so I dont forget:
it would be nice to have some sample mp3 files in a sample folder so people can start right away without having to know how to get mp3 files.
We have such a sample folder for our laptops. It consists of about 10 30s clips of hitlist songs. Maybe we could include some royalty free music.

[2020-12-20 14:23] philippReist commented on #65
Wouldn't it be best to add to the website dancebots.ch? And, in that case, could you just upload your existing collection?

[2020-12-21 12:29] philippReist commented on #62
@r-oung: So should I merge develop to master for the 1.1.0 release with this?

[2020-12-23 14:53] tiemes commented on #65
I'd appreciate it, if we had everything one needs in one place. Still, it has to be on the page as well. I'll have to check for copyright infringements with having our library publicly available.

We are just about to finish a new booklet which replaces the cheatsheet and ads a lot if additional information. Also, more Eduguides to certain topics will be developed. As these may also require additi

[2020-12-24 00:48] r-oung commented on #62
@philippReist Yes, merge develop to master. Then generate a new release and tag it v1.1.0. The backend should auto-generate the macOS DMG and automatically upload it to the release assets (give it some time). I never got the Windows release to work properly so you'll need to upload that one manually. If it doesn't work, I'll look into it.

[2020-12-29 13:32] philippReist commented on #62
Reopened until finished for discussion.

@r-oung - the Ubuntu tarball generated for the release looked too small so I deleted it from the release.

@tiemes - the new release files are here: https://github.com/philippReist/DanceBotsEditor/releases/tag/v1.1.0. Could you please:
- Test the win and mac versions - see also the other comment of @r-oung regarding macos versions.
- Update the dancebots we

[2021-01-24 10:57] #62 closed

[2021-01-24 10:57] philippReist commented on #62
Closing and adding another one for the new improvements requested by Mint&Pepper

[2021-01-24 11:03] philippReist opened #69 "Audio Channel Swap Improvements"
M&P requests a GUI option to swap audio channels. In addition, it would be valuable to detect swapped channels in a dancefile. Therefore I suggest the following tasks:

1. Add a GUI element that allows the user to swap audio channels. In charge: @robinhanhart
2. Hook up the GUI element to the backend. In charge: @robinhanhart  with help of @philippReist if needed
3. Making the setting persistent m

[2021-01-24 11:17] philippReist opened #70 "Insta-Play"
Enable GUI to play dancefile audio without creating an MP3. So robot can dance attached to laptop.

Tasks:
1. Enable backend to generate and play dancefile audio-data to play. @philippReist
2. Create GUI element. A second play button? Do we need a warning popup to protect ears? @robinhanhart
3. Make sure time indicator bar is synced with instaplay. @philippReist

[2021-01-24 11:18] philippReist opened #71 "GUI Language Localization"
Goal is to provide DE/EN/FR/IT language options.

Qt features language localization features. I am not familiar with them so I would have to learn it. I would suggest @robinhanhart and @tiemes take the lead here.

Should there be a toggle in the GUI?

[2021-01-24 11:21] philippReist opened #72 "Add Windows Installer"
Provide installer that:
1. Extracts and copies files to Program Files or similar.
2. Creates Desktop/Start Menu shortcut to start GUI.

@philippReist to look into https://www.firegiant.com/wix/ to create MSI from zip file and create shortcuts.

[2021-01-25 16:33] tiemes opened #73 "adapt mint & pepper styleguide to change color scheme for gui"
color scheme should be more compatible with m&p style guide.

[2021-01-25 16:35] tiemes commented on #71
main question is - how much effort is it? It is not a must have but would be nice. Do you have any experience with it @robinhanhart ?

[2021-02-07 16:07] philippReist commented on #69
@robinhanhart: 2-4 are done in https://github.com/philippReist/DanceBotsEditor/tree/feature/audioswapflag

I added an ugly checkbox that should be working, so you can use this as a template to make it pretty (and move it to where it should be).

@tiemes: If you could UX test this on Mac / Win that would be great.

[2021-02-08 08:31] robinhanhart commented on #69
@philippReist Thanks I'm on it 😄

[2021-02-08 13:53] tiemes commented on #69
@philippReist works like it should on Win. Persistence works as well: after importing a swapped file, it gets automatically ticked. I dont have access to a Mac at the moment... @robinhanhart do you?

[2021-02-08 13:57] robinhanhart commented on #69
@philippReist I just pushed a new commit with a new checkbox styling. Let me know what you think.

@tiemes Cannot compile on my mac, have cmake error. Windows works for me.

[2021-02-08 14:52] tiemes commented on #69
@robinhanhart looks nice to me. I don't see why we should not stick with it.

[2021-02-08 15:13] tiemes opened #74 "DanceBots Editor wording"
In German, "DanceBots Editor" would require a hyphen: "DanceBots-Editor".
 If we treat it as English, "Editor" would not have a capital letter: "DanceBots editor"
Should we stick with "editor" or could we omit it at all and just use "DanceBots" in the titles? I don't think I would miss it.
If we leave it, I'd suggest to change to lowercase as it is all in English. In German, we should use DanceBot

[2021-02-08 18:44] robinhanhart commented on #71
@tiemes It should not be that much effort. Qt already has everything built in. The code is ready for translation as all the text in the code is in the form `qsTr("English")`

From what I read the process should look like this: https://wiki.qt.io/How_to_create_a_multi_language_application#Add_translations_to_the_project
1.  Let a QT function run over the code files and make a list of all the englis

[2021-02-08 18:55] robinhanhart commented on #70
Maybe have an icon in the form of lightning-bolt ⚡ or "Insta-Play" text button.

I think a warning with a short explanation as a popup would be nice. If someone uses the editor for the first time it could be quite a surprise 😉

[2021-02-09 07:09] philippReist commented on #70
Sounds good - I agree that a pop-up, at least the first time it is used per session makes sense.

[2021-02-09 07:14] philippReist commented on #74
In English, I view DanceBots Editor as a title in which case Editor is capitalized.

I slightly lean toward leaving it as is in English, not changing it if German because I don't think we can localize the app name.

But if you see it as an issue we can also drop the editor.

[2021-02-09 07:33] philippReist commented on #69
Thank you for testing and making it look nice!

What I am not sure about is if the checkmark should have such a prominent placement. My first instinct would have been to put it in a menu (i.e. a settings-gear next to the info) and hide it there as it is probably only rarely used.

But, if we load and set the swapped state from the mp3 file, it is not good if the result is hidden. So I think we can

[2021-02-09 07:38] philippReist commented on #71
Sounds good - let me know if you need help!

[2021-02-09 07:58] tiemes commented on #74
not entirely sure which way to go, but if we can't localize it, I'd probably drop it.
I think "DanceBots" as brandname would be enough.
The issue came up with Startbahn29 which will start doing workshops as well. Our (and their) main audience is German speaking so we'd always have to reference it in German anyway. If we drop it here, we'd only have one version. Otherwise it would be with hyphen in

[2021-02-09 08:01] tiemes commented on #69
Exactly my thoughts. I first wanted it in a menu as well. But as we're likely using this feature a lot due to our swapped players, it might be a good idea to have it somewhere prominent. If our kids start, they have to enable swap and once they're done, they have to swap again to make sure they have a version which works at home as well.
If they plug it directly into the laptop for testing purpose

[2021-02-14 17:13] philippReist commented on #74
Ok sounds good let's drop editor.

[2021-02-14 17:17] philippReist commented on #70
Some progress:
I have stereo data playback working. What I could not get is that seeking would keep playing. It pauses now so the user needs to resume.

I need to look at the instaplay logic next - I need to add some state to the GUI to detect if the user changed the primitives, in which case the data needs to be recompiled, the audiobuffer updated, seeked to the last position and then resume play

[2021-02-14 17:28] philippReist commented on #69
Ok it definitely looks better now. But:
**Rename/add info:**
- I think it is not clear what this button does as "Swap Audio" (I know what I chose for the prototype) is not clear I think. Can you change it to a better name, @tiemes, and can we add a hover-tooltip that explains it a bit more?
- Can you please add some text to the readme as well, @tiemes?

**Make it less prominent**
Not sure if this

[2021-03-05 16:18] philippReist commented on #70
Ok, we have a first draft - see video. For testing, see branch https://github.com/philippReist/DanceBotsEditor/tree/feature/instaplay

@robinhanhart, @tiemes please let me know what you think - then we can work on making it look nice. I am not sure we need to add the popup - maybe it is ok if the GUI freeze for a few seconds.

https://youtu.be/k9_E3m5L7ZQ

[2021-03-06 23:38] philippReist commented on #70
Thinking about it - the right thing is to auto-recompile when play is pressed and the data is stale.

[2021-03-08 16:43] tiemes opened #75 "binary input to DanceBots"
Following a discussion Nina and I had about a more meaningful way to use binary system and explain the DanceBots protocoll:
we thought, it would be nice, if we could let them compose binary signals e.g. spin... on paper. Afterwards, they could test it by sending it to the dancebot. Via instaplay, would it be feasable to have a mode/inputfield where they could manually input a binary string, which

[2021-03-09 03:58] r-oung commented on #75
I always thought visualizing the control signal on an oscilloscope was the best way to explain the protocol.

However, if you want to get hands-on with the binary input.. A few years ago I had started to write a Python package for controlling the DanceBots. The intention was to provide an alternative to the drag-and-drop editor, and to introduce actual code in a meaningful way. What you are propos

[2021-03-09 08:20] tiemes commented on #75
Visualizing the protocol on an oscilloscope is very nice indeed. I see two possible downsides.
1. you obviously need an oscilloscope. No problem with our courses. However we sometimes sell the kits to teachers directly, they might not be able to use one.
2. it's not possible to check whether a signal you calculated on your own is correct.

It's awesome to hear there exists part of a python library

[2021-03-09 08:24] philippReist commented on #75
I think a Python script that can plot the encoded signal that you would then see on the scope as well makes the most sense. I don't want to add this feature to the GUI.

[2021-03-09 08:26] tiemes commented on #75
sounds good to me. That's why I asked you two :)

[2021-03-09 08:30] tiemes commented on #70
Really nice, I like it. Sorry I hoped I could test it, but no chances so far.
Freezing for a short period with or without a little overlay seems totally ok for me. We usually work with 30s soundfiles now so we can test how long it takes. Shouldn't be a problem.

[2021-03-10 23:47] r-oung commented on #75
@tiemes I'll try to restart the project and I'll post a link to the repository here when I've got something working.

[2021-03-13 16:12] philippReist commented on #70
Ok - updated it and the just-in-time compile now works when changes were made and the user presses play (or spacebar).

I think I made the delay between compile start and showing the overlay a bit shorter. Hope you guys can test it!

[2021-03-13 16:18] philippReist commented on #69
@robinhanhart the swap radio button does not seem to scale with the rest of the GUI, can you please have a look? You can work on the instaplay branch, it was rebased on the swap audio branch.

[2021-03-28 12:47] robinhanhart commented on #70
Sorry took me a while. I just pushed new code on **instaplay branch**  for the "Swap channel" checkbox and "Insta-Play". On

- Checkbox now scales correctly and looks nicer. The yellow dot shows if channels are swapped.
- Added a new icon for instaplay and changes the buttons to look nicer.

<img width="1512" alt="Dancebot Instaplay copy" src="https://user-images.githubusercontent.com/12276355/112

[2021-03-28 12:48] robinhanhart commented on #69
@philippReist Scaling should now work correctly. I changed on the instaplay branch. See #70

[2021-03-29 14:50] tiemes commented on #70
runs well on windows. I havent tested it with a DanceBot but to my ear, it works well. The window scales well.
Very nice :)

[2021-03-29 14:55] tiemes opened #76 "titel autor doesnt support mutated vowels (e.g. ä, ö)"
[](url)
before saving
![beforesaving](https://user-images.githubusercontent.com/12649825/112855839-80d43700-90af-11eb-8080-096d86680315.PNG)
after saving/on next open
![afterloading](https://user-images.githubusercontent.com/12649825/112855836-803ba080-90af-11eb-99b6-df4c228a4ffe.PNG)

The gui/software doesnt seem to accept "umlaute". Didn't check any other non-ascii characters. One can write them

[2021-03-29 20:52] philippReist commented on #70
Very nice, @robinhanhart. I will test it asap and then I think we can merge this to develop.

@tiemes - any chance you could test more thoroughly with a DanceBot? That would be really helpful.

[2021-03-29 20:53] philippReist commented on #69
Thank you @robinhanhart!

[2021-03-29 20:54] philippReist commented on #76
Oh interesting. I will have a look!

[2021-04-05 15:08] philippReist commented on #70
Looks good to me. Will merge this as is to develop.

The only thing I was thinking, but not sure if needed, is some king of visible cue to the user which of the modes is active - human or robot. @robinhanhart what do you think?

[2021-04-05 15:09] #69 closed

[2021-04-05 15:23] philippReist commented on #70
Reopening until @tiemes had time to properly test with a dancebot.

[2021-04-05 16:07] robinhanhart commented on #70
@philippReist That's a good idea. Will style the buttons so the active mode is visible. 👍

[2021-04-06 06:35] philippReist commented on #70
Thank you Robin!

[2021-04-16 14:32] r-oung commented on #75
@tiemes @philippReist I finally got around to working on it: https://github.com/r-oung/dancebots-python
Let me know what you guys think on the [discussions tab](https://github.com/r-oung/dancebots-python/discussions).

[2021-04-18 08:59] philippReist commented on #70
@tiemes did you get a chance to do more testing?

[2021-04-19 13:49] tiemes commented on #70
@philippReist not with a physical dancebot. We're pretty limited in time at the moment. I'll try to get hold of a physical DB and a macbook as well. We had a workshop last week (with an early Version but I'm not sure which software version ist was) They reported no problems however. I'll keep you posted. It would make my life a lot easier though if someone of you could provide me with the latest b

[2021-04-23 06:17] tiemes commented on #72
not sure if we should proceed with this. I think, we could stick with just providing the binaries as zip file.

[2021-04-23 06:21] tiemes commented on #70
@philippReist I had the chance to compile and shortly test the most recent windows version with an actual dancebots. Jana will do some more testing on monday.
I found one issue: with instaplay on "robot", both sound and signals were hearable through the dancebots. Movements were correct. If I switched to "human" it worked correctly, only sound and no movement. Swap feature had no effect onthis.
Sw

[2021-04-23 06:21] philippReist commented on #72
I can give it a try, but have not gotten around to it yet.

[2021-04-23 06:23] philippReist commented on #70
Great thank you for testing! To me the mixed sound sounds more like a HW issue than a SW issue, especially if it worked on an MP3. I will check with headphones on my laptop.

Looking forward to more testing feedback!

[2021-04-23 06:28] tiemes commented on #72
up to you :)

[2021-04-26 14:52] tiemes commented on #70
[DanceBotsTestingJana.docx](https://github.com/philippReist/DanceBotsEditor/files/6377725/DanceBotsTestingJana.docx)

Jana and I did some further testing:

- as we have accidentally switched R and L for the audio cable in our new booklet, everything is switched in Janas review. Meaning her findigs are swapped compared to what we usually have ;-) we'll change that in the booklet.
- with her win thi

[2021-04-30 07:58] philippReist commented on #70
Hmm sounds like the channels might be correct when swap is active? I can double-check that I got the channels right in the code.

[2021-04-30 08:14] tiemes commented on #70
I just had a chat with Hanna. They changed R/L Channel for the cable in our manual on purpose. Stefan states that "R channel/cable is always red". Unfortunately, with our jack cables, R is white and L is the red cable. So by obeying the R=red rule, this makes "swapped" the new standard. I'd just leave it in the software whis way until we have discussed this in detail. As channels are swappable, it

[2021-04-30 08:16] tiemes commented on #70
On mint & pepper Laptops, everything works fine. (swapped)
At Startbahn29, they have other Laptops, it did not work with them when I tried Instaplay there. I'll gather more feedbacks about their experience.

[2021-05-01 17:52] philippReist commented on #70
You can test with headphones, too - just to make sure you get a clean music and data signal per channel.

Right, we had it that colors and L-R assignments changed each order we placed. In the cheat sheet, we have the assignment from cable to metal part of the jack, and would usually check in the course with a multimeter to get it right.

[2021-05-02 17:32] philippReist commented on #74
If it's ok with you @tiemes, I would like to leave the naming as it is, as we would have to change all the build / deploy chain names as well, and the continuous integration would be affected as well.

I'd rather spend that time on the installer.

[2021-05-02 17:35] philippReist commented on #72
Made some good progress today on the installer: https://github.com/philippReist/DanceBotsEditor/tree/philippReist/wix

Need to finish the file parsing Python script to generate the wxs xml to be parsed by wix.

But this will create .MSI packages that allow:

- upgrading the DB editor from one version to the other by first deleting the existing installation
- Adding a shortcut to the start menu
- c

[2021-05-02 21:14] philippReist commented on #72
Ok I was too close to stop - now we have a first prototype. Let me know what you think @tiemes.

https://drive.google.com/file/d/11PxUl_B-Su40DrSngIdMd4QnRKgWzuuW/view?usp=sharing

[2021-05-03 11:39] tiemes commented on #72
Awesome! :D Thanks a lot.
Installer works like a charm. I didn't test the software afterwards but installation was flaweless.

1. Is there a way to evade rights elevation (admin)? I dont know if we could change the location and still add a startmenu shortcut.
2. Is there a way we could include our 30sec. mp3 folder with the installer? We're not allowed to store the mp3 files open on the repo. But

[2021-05-05 05:27] philippReist commented on #72
Hmm,

1. I am not sure if that is possible. I noticed that the installer writes to the registry for teh shortcut removal along with an uninstall from the win programs and features. Maybe the better approach is still the zip file, but structuring the folder to have a single folder with the executable and dlls in it and then a single shortcut to start the editor.
2. Yes we can include additional fil

[2021-06-07 12:42] tiemes commented on #72
sorry, been a bit busy...

1. I'm not sure. I quite like the installer though. It will make it easier for ISG ETH Services to manage our laptops as well, if we have an installer. I'll leave it up to you, but I prefer the intstaller.
2. I'd like to not have the mp3 files as mp3s in an open github repo. In the installer, I dont see any problem as we're allowed to ship them with the program. However

[2021-06-07 12:44] tiemes commented on #73
@robinhanhart what happened to this? Are we just gonna drop it? It certainly does look nice as it is.

[2021-06-07 12:45] tiemes commented on #71
@robinhanhart is this still a thing?

[2021-06-07 15:17] robinhanhart commented on #73
@tiemes I don't think it makes sense to adopt it. The Mint&Pepper style like the Flexo app gui would be not really possible as it is a light design and we use a lot more colors. Would just make the it harder to use if we reduce the colors.

[2021-06-07 15:22] robinhanhart commented on #71
@tiemes Technically it would work. I did have the basic work for translation in a local branch (compiling with the language files) Didn't get it to work completely.
The problem is there is quite a bit of english text hardcoded in the code and would be a couple hours work of changing everything. Just ran out of time on this one.

Maybe a call with @philippReist at some point. Maybe I'm missing some

[2021-06-07 15:31] #73 closed

[2021-06-07 15:32] tiemes commented on #71
ok, English is fine.

[2021-06-07 15:32] #71 closed

[2021-06-19 10:28] philippReist commented on #72
Also sorry for the late reply, had a busy time at work.

1. If the elevated privileges are ok, we can keep the installer then. You requested this, so you should make the call.
2. I will leave this completely up to you, as I think fair use copyright defenses are not straightforward. Just tell me what you need.

I think I can finish this next weekend, so we should finalize the plan.

[2021-06-30 06:39] tiemes commented on #72
1. ok lets keep the elevated installer then.
2. lets integrate them into the final exe. What will be the path? Still C:/DanceBots? Or C:/program files/DanceBots? Do we just add an "mp3* folder to this?

[2021-06-30 06:40] #74 closed

[2021-07-07 08:15] tiemes commented on #76
could you have a look into it yet?

[2021-07-08 06:34] philippReist commented on #76
Not yet but will do. I think we have a plan now how to finish the next release.

[2021-08-12 09:24] tiemes commented on #72
@philippReist: we should have an internal Version of the installer with the mp3 library and another without them. Do you have 1 mp3 file with an open licence we could include with the public version? It would be nice, if we could provide the software with 1 song to start.

[2021-08-12 10:11] philippReist commented on #72
Sounds good. Configuring the installer is easy. Will do as soon as possible
so we are done with this version.

On Thu, Aug 12, 2021, 11:25 Tobias M. Schifferle ***@***.***>
wrote:

[2021-08-22 14:25] #76 closed

[2021-08-22 15:38] #70 closed

[2021-08-22 15:38] #72 closed

[2021-08-22 15:49] philippReist opened #80 "Testing develop branch for 1.2.0 release"
Hi @tiemes and @robinhanhart,

Looks like we are there with 1.2.0! Could you (or task someone from M&P, Tobias) please thoroughly test the develop branch before I merge it to master and we do the 1.2.0 release?

What I just did:
- Fix the umlaut issue in the song title/artist input fields
- Expand the howto text in the (?) button - please check!

Otherwise, please check that the new features work

[2021-08-22 15:50] philippReist commented on #65
@tiemes please point me to an opensource music file that you would like to distribute with 1.2.0.

[2021-09-09 08:35] tiemes commented on #80
Hi Philipp
I'll get in contact with our team to have it tested.
I have someone who will provide us with a free to use mp3 file. However it will take some more time for him to create it.

[2021-09-15 08:31] tiemes commented on #80
@philippReist do you have the binaries somewhere? Would make testing easier, we're quite busy with CYBATHLON projects.

[2021-09-17 07:23] philippReist commented on #80
Not for Mac - I can make a zip for Windows. But we really need to test Mac as well.

[2021-09-17 08:17] tiemes commented on #80
I‘d appreciate the windows zip. I tried to build it on my M1 mac, but had errors. Ill follow up next week.

Von meinem iPhone gesendet

[2021-09-19 19:49] philippReist commented on #80
Here you go for the Win build: https://drive.google.com/file/d/1uw4eIWdBWZYrmUQzbM_FEDDhaB_5ttgd/view?usp=sharing

It would be great to test on Mac too before we release it.

[2021-09-20 13:59] robinhanhart commented on #80
I tried testing it on my Intel Mac but I'm having cmake issues. Don't think they are related to Dancebots code.

`ld: can't map file, errno=22 file '/Library/Frameworks/sqlite3.framework' for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)`

[2021-09-21 10:25] tiemes commented on #80
[error.txt](https://github.com/philippReist/DanceBotsEditor/files/7202373/error.txt)

 94%] Linking CXX executable test-beatdetect
ld: warning: ignoring file /Users/toby/Qt/5.12.9/clang_64/lib/QtWidgets.framework/QtWidgets, building for macOS-arm64 but attempting to link with file built for macOS-x86_64
ld: warning: ignoring file /Users/toby/Qt/5.12.9/clang_64/lib/QtGui.framework/QtGui, building f

[2021-09-21 10:51] philippReist commented on #80
Hmm, @robinhanhart on an Intel Mac it should work with the instructions we have - can you please double-check that you followed them exactlz?

@tiemes - can you cross-compile for x86, i.e. Intel? Maybe you can choose the correct target/platform. Maybe in cmake? I think the intel apps should run on M1 if I am not mistaken.

[2021-09-21 13:44] robinhanhart commented on #80
I think I have a config problem that's specific to my work mac. Will check on my personal Intel mac when I get the chance.
Followed the instructions on the readme.

[2021-09-21 15:09] philippReist commented on #80
@tiemes - right cross-compiling could be tricky. So much better to just use an Intel Macbook then. Do you still have the M&P Macbook I used a while back? The toolchain and everything should be installed on it.

@robinhanhart - thank you for checking with your personal Mac! I hope it'll work!

[2021-09-21 17:22] tiemes commented on #80
I‘ll check.

[2021-09-23 11:24] tiemes opened #81 "sound on both lines"
Von der Startbahn29:
Wenn ich das programmierte File auf den MP3 Player lade, und den Dancebot anstecke kommt die Musik nur sehr schlecht und die Motorenbewegungen und die LED's stimmen nicht überein mit dem Programmierten. Der Dancebot macht eher komische, willkürliche Zitterbewegungen und die LED's leuchten irgendwie, nur nicht so wie programmiert.
Wenn ich das File mit einem Kopfhörer anhöre, k

[2021-09-25 09:29] philippReist commented on #81
A few ideas:
1. Test the file with another MP3 Player or Laptop.
2. Test playback at different volume levels of the MP3 Player
3. Unlikely, but mixing of data and music can occur if an old Dancebots file is loaded into the program.

[2021-09-26 14:11] robinhanhart commented on #80
Also doesn't work on my personal mac. 😦 Same error. Maybe some issue with higher mac versions.
Couldn't find a working fix online.

macOS 11.6 Big Sur
Xcode 13.0

Error occurs on `[ 25%] Linking C executable sndfile-regtest`

[code]

[2021-09-30 07:48] Pascale-lab commented on #81
Dear Philipp Reist

Thank you for your ideas.

I tried all of your steps, but unfortunately nothing helped.

I think its not the Problem, that the software mixes the data. Its more a problem of the MP3-Player. It seems, that the MP3-Player does not split the to channels correctly when coupled to the Dancebot. When i listen to the programmed file with earphones, i hear on one channel the sound of t

[2021-10-01 05:18] r-oung commented on #80
Sorry for being late to the game.

@philippReist I might not have explained this to you before:
- If you create a pull-request in the `develop` branch, it should automatically trigger the "GitHub build action".
- If you create a `Release`, it should automatically build a binary for macOS and upload to the release's assets. @robinhanhart There's a binary for macOS here (darwin): https://github.com/

[2021-10-01 05:34] r-oung commented on #81
I actually had the same mixing problem.

I verified that there is no mixing in the data by opening it up in Audacity:
![Screenshot from 2021-10-01 13-31-07](https://user-images.githubusercontent.com/44389573/135569380-57596d93-5e49-47f9-9b6d-47a7d88e17a9.png)

The problem for me was that I was running the audio through one of these [cheap 3.5mm extension cables](https://www.amazon.com/AmazonBasics

[2021-10-01 07:24] philippReist commented on #80
Whoa thank you so much Ray! @tiemes FYI you can just take that MacOS binary for testing / I think with Ray's testing we are good to publish this.

@robinhanhart would you be able to address the UI suggestions that Ray has? I agree that the highlight would be very useful.

I will take care of the CLEAR artist title text.

[2021-10-01 07:26] philippReist commented on #80
Is this also true for the develop branch, @r-oung?

[2021-10-01 07:27] philippReist opened #83 "Make sure that pressing clear also clears artist and title text"

[2021-10-01 08:40] r-oung commented on #80
@philippReist Yes. If you create a release on any branch it should generate binaries.

However, I realized today that there are some bugs with it. Don't tick the "This is a pre-release" checkbox, because that runs the build system twice for some reason. As a workaround, just do a standard release and tag with `-dev` or something, e.g. `v1.2.0-dev`.

[2021-10-01 08:52] r-oung opened #84 "Split GitHub Actions"
Currently, there's a single action for creating builds and releases. This causes conflicts with releases and pre-releases.

To fix this:
- Separate build tests from release generation
- Release generation should use the latest OS and QT version
- Releases should be triggered on tags

[2021-10-01 08:59] r-oung opened #85 "Homepage"
@philippReist I don't know about you, but the video on the [Home page](http://www.dancebots.ch) shows as "Unavailable". Also, it's still using HTTP instead of HTTPS. Not that it really matters here, but in the future some browsers might not display HTTP.

![Screen Shot 2021-10-01 at 17 55 33](https://user-images.githubusercontent.com/44389573/135593334-3b76111a-59f9-4f62-8726-7e70441d1cfd.png)

I

[2021-10-04 06:36] tiemes commented on #80
awesome - thanks! However I cannot access the links (404).

[2021-10-04 06:42] r-oung commented on #80
@tiemes Sorry, I was making some changes and forgot that it would break the link.
This should work: https://github.com/r-oung/DanceBotsEditor/releases/tag/v1.2.0. Click on the DMG file.

[2021-10-05 07:28] #84 closed

[2021-10-05 07:29] philippReist commented on #80
Thank you @r-oung!

[2021-10-30 11:04] #81 closed

[2021-10-30 12:24] philippReist commented on #80
Ok I think we are ready for release.

- @r-oung fixed the typos - there's not enough space for the robot/human explanations so I left them out.
- I fixed the better highlights of whether HUMAN/ROBOT is active
- I added a delay so that the messages when switching between HUMAN / ROBOT are better readable. Kept them short at 250ms though.

I'll merge this to develop and then merge to master and crea

[2021-10-30 12:24] #80 closed

[2021-10-30 12:25] philippReist commented on #83
Decided not to do - think just clearing the moves and lights is enough.

[2021-10-30 12:25] #83 closed

[2021-10-30 13:23] philippReist commented on #85
I could fix the broken videos on the video page but cannot update the main page. @tiemes could you please have a look?

I get:
`Updating failed. The response is not a valid JSON response.`

[2021-11-10 08:46] tiemes commented on #65
@philippReist I finally managed to get two files we can freely distribute. Up to you if we use both or just one
Please add credits to the "?" tab:
**Music: Singularity & Just Now by Daniel Young https://danielyoung
[MusicByDanielYoung.zip](https://github.com/philippReist/DanceBotsEditor/files/7511156/MusicByDanielYoung.zip)
.ch**

[2021-11-28 17:52] philippReist commented on #65
@tiemes Thanks for looking! Unfortunately, these two files get terrible beat detection. But I bought two other songs that we can now ship without any credits. I added them to the repo.

[2021-11-28 17:52] #65 closed

[2021-11-28 18:08] philippReist opened #102 "RELEASE 1.2.0!"
@tiemes @r-oung: I just released 1.2.0. I don't have a mac so it would be great if one of you could test the Mac auto-build release.

In particular, please check if there is an mp3_files folder with two mp3 files.

@tiemes Please also check the Win release to make sure it does not run just on my PC :) Once the tests are good, we can update the links on the dancebots.ch website. If you want to crea

[2021-11-29 07:20] philippReist commented on #102
FYI: The MP3 files should be copied by CMAKE to the release config build folder https://github.com/philippReist/DanceBotsEditor/blob/develop/gui/CMakeLists.txt#L73

[2021-11-29 13:51] tiemes commented on #102
@philippReist Nice - thanks!
Where should I find the sample files in the mac version? I only see DanceBotsEditor. It opens, I can't find the files though.

[2021-11-29 14:34] tiemes commented on #85
@r-oung @philippReist I get the same response.
I'd suggest someone updates the php and other dependencies.

[2021-12-01 09:32] r-oung commented on #102
@philippReist I checked on both Windows 10 Pro and macOS 11.6:

- Windows: `mp3_files` folder is there with both MP3 files.
- macOS: `mp3_files` folder is missing from the package contents. I think the [macOS deploy script](https://github.com/philippReist/DanceBotsEditor/blob/develop/gui/mac_os_rc/deploy.sh) needs to be adjusted to copy these files over. Let me know if you need help with this as I

[2021-12-01 09:43] r-oung commented on #85
@philippReist @tiemes Is this the original page? Do I still have admin access?

[2021-12-02 10:14] tiemes commented on #85
@philippReist @r-oung according to Stefan Bertschi, at least one of you should have admin rights.

[2021-12-02 10:17] tiemes commented on #102
The goal would be to make it as easy as possible to start. I totally agree with you, that it should open the "sample" folder on the first click on "load".

[2021-12-02 10:19] tiemes opened #103 "sample mp3 files Artist & Title field missing, missing reference in "?" Dialog"
If I open the files (on my Mac M1 running Parallels with an ARM Windows 11...) I can play the sample mp3s but Artist and Title does not get loaded. Either we have to adjust the id-tags or have a look why it doesnt load them.

In the "?" dialog, the mo3 credits should be referenced.

[2021-12-02 11:59] philippReist commented on #103
Yes, the artist and title should be added - need to double check loading, too.

We do not need to credit in the ? - I bought the rights for the songs for use without attribution.

[2021-12-02 12:02] philippReist commented on #102
I can look into opening the file dialog for the sample folder. Renaming to samples is good, too. 1.2.1 here we come :(

What do you mean @r-oung ? Changing from robot to human and the other way around needs to reset the audio on the player, so it has to stop and then possibly reparse the timeline and regenerate the signal, and then set the data on the output. Do you mean that?

[2021-12-02 12:03] philippReist commented on #85
Yes I have admin access but I think this needs access to the server where this is running. Can you or Stefan please look into this issue, @tiemes?

[2021-12-02 12:05] tiemes commented on #103
I think the files don't have the tags filled out.
Alright, then crediting is not necessary..

[2021-12-02 12:06] philippReist commented on #85
I haven't seen the new trailer - its great! And yes I would put that on the landing page.

[2021-12-02 12:07] tiemes commented on #85
I don't have any rights. When I asked Stefan last week, he told me, you should have sufficient rights.
There's not much I can do. If you could email him directly with a specific request we'd probably have the best chances ;-)

[2021-12-02 12:10] tiemes commented on #85
I hadn't know about the trailer until last week as well :D
I'll check with Hanna. Whats your and r-oungs correct spelling?

btw, I'm leaving mint & pepper to focus on the Cybathlon @school project. As I only have 20% a week, I cannot do justice to all project mint & pepper has. Hanna would be the new project leader and Philipp Egger Engineer.

[2021-12-02 12:11] philippReist commented on #85
Thanks - Raymond Oung and Philipp Reist, please.

Sad to see you go and thanks for all your help!

[2021-12-03 03:10] r-oung commented on #102
So I looked into it more closely. When you toggle between `Robot` and `Human`, there's a modal that says "Setting output sound for humans/Dancebots...". The "problem" is that it displays this so quickly that I thought it was a bug -- :laughing: . See attached video. I had to record the video at 240 FPS to catch this. I guess that means I'm using a super fast computer :wink: .

https://user-images.

[2021-12-03 03:17] r-oung commented on #85
@tiemes All the best to you!

[2021-12-03 15:46] jbuender opened #104 ""Leiterplatten""
@philippReist
We are ordering new material for the Dancebots. Stefan said you ordered the Leiterplatten the last time. Could you share your order with us, so we can order the identical ones?

[2021-12-06 07:44] philippReist commented on #104
Hi @jbuender - the Gerber files are here: https://www.dancebots.ch/kit/

We ordered from here: https://jlcpcb.com/

![image](https://user-images.githubusercontent.com/6594726/144806952-9b263ac2-f16c-4336-b3e2-9cfb722fcf7e.png)

[2021-12-06 07:44] philippReist commented on #104
Let me know if you have any questions about ordering from jlcpcb.

[2021-12-07 00:20] r-oung commented on #104
@philippReist Is there any particular reason why you guys are producing the PCBs separately and not just asking Tom to do it? He can probably get it at a better price and you wouldn't need to coordinate with as many distributors.

[2021-12-07 09:17] philippReist commented on #104
Not really but that is a good idea - @jbuender I would do this.

[2021-12-12 16:05] philippReist commented on #103
Fixed this - the sample files have the artist and title included now. And I added precompiled beat data to speed it up further.

[2021-12-12 16:05] #103 closed

[2021-12-12 16:08] philippReist commented on #102
Fixed:
1. I removed the modal popup when switching from robot to human and back.
2. The load dialogue now default points to the mp3_samples folder

@r-oung the load folder dialogue path is relative to the application root dir - could you please verify that this works on Mac and add the deploy copy script step you mentioned above?

Once we have this in place and tested, we can merge to master and f

[2021-12-15 12:16] r-oung commented on #102
@philippReist Sure. Can I assume that this is all on the `develop` branch?

[2021-12-15 12:19] philippReist commented on #102
Thank you! Yes on develop.

On Wed, Dec 15, 2021, 13:16 R. Oung ***@***.***> wrote:

[2021-12-15 13:33] r-oung commented on #102
@philippReist Done! I made a pre-release [here](https://github.com/philippReist/DanceBotsEditor/releases/tag/v1.2.1-dev) so that other's can test it if they want. I tested it on macOS 10.15 and macOS 11.6.

[2021-12-20 13:58] philippReist commented on #102
Great thank you @r-oung! And enjoy the KFC!

I found one more little bug, of course, but fixed it and now pushed the 1.2.1 to master, so we should now have the release in the bag. Could you do one last check on the release package for Mac please?

@tiemes - we should have it now!

[2021-12-25 12:59] r-oung commented on #102
@philippReist The release package works on macOS 10.15 and 11.6! It took a year to release 1.2, but it's finally done! 🙌 🥳 🎉

[2021-12-26 22:02] philippReist commented on #102
Thank you @r-oung !!! Yeah, this was not a very quick thing. Let's see how 1.2 will do in the wild! @tiemes thanks for your help, too!

[2021-12-26 22:02] #102 closed

[2021-12-26 22:25] philippReist commented on #85
For some weird reason, I could fix the website after changing 10 and 18 to ten and eighteen in the text body.

The downloads are updated, too.

[2021-12-26 22:25] #85 closed